<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".DirektProbeActivity" android:exported="false" />
        <activity android:name=".WatchpartyProbeActivity" android:exported="true" android:permission="android.permission.DUMP" android:launchMode="singleTop" />
    </application>
</manifest>
